@{
    ViewData["Title"] = "Home Page";
   // Layout = "_LayoutOgani";
}
@* @model List<TDanhMucSp> *@
@using X.Web.PagedList;
@model X.PagedList.IPagedList<TDanhMucSp>;
@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialViewSp",item);
}
<div class="product__pagination">
    @Html.PagedListPager(Model , page => Url.Action("Index",new{page=page}))
</div>